<div class="grid">
	<div class="span-1-1 c">
		<img class="user-avatar" ng-src="images/heart_icon.svg">		
	</div>
	<div class="span-1-1 c">
		<span class="b color-white">{{user.fName}} {{user.lName}}</span>
	</div>
</div>
<div class="grid">
	<div class="span-1-1">
		<div class="user-info">
			<ul class="blocked unstyled vertical-list">
				<li>
					<span class="block color-white bottom-line light-grey-line">Donations</span>
					<span class="color-gold b">Lorem Ipsum Sit Amet</span>
				</li>
				<li>
					<span class="block color-white bottom-line light-grey-line">Account Information</span>
					<span class="color-gold b">Update Username/Password</span>
				</li>
				<li>
					<span class="block color-white bottom-line light-grey-line">Feedback</span>	
					<span class="color-gold b">Report a Problem</span>
				</li>
			</ul>
		</div>	
	</div>
</div>