<div class="grid no-pad">
	<div class="span-1-1 video-header no-pad top-space bottom-space">		
		<div id="videoHolder" class="video"></div>
	</div>
	<div class="span-10-10 top-space bottom-space">
		<h3 class="video__title normal color-white">{{video.title.__text}}</h3>
	</div>
	<!--<div class="span-1-1">
		<a href="" class="video__listen c"><img src="images/listen_icon.svg"> Listen</a>
	</div>
	<div class="span-1-2">
		<a href="" class="video__watch c">Watch</a>
	</div>
	<div class="span-1-2">
		<a href="" class="video__link c">Link</a>
	</div> -->
	<div class="span-1-1">
		<p class="color-white" ng-bind-html="video.description.__text"></p>
	</div>

	<div class="span-1-1 no-pad">
		<ul class="subcategory no-margin">
			<li class="subcategory__item c" ng-repeat="subcat in subcategories.categories track by $index">
				<a class="subcategory__item__link color-white" ng-click="getPlaylist(subcat.category_playlist_url)">
					<span class="subcategory__item__name pad">{{subcat.category_name}}</span>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="span-1-1 scrollable--bg no-pad">
		<ul class="multiple-items no-margin">
			<li class="scrollable__item c pad" ng-repeat="item in playlist track by $index">
				<a href="" ng-click="playVideo(item.video)" class="light-box c">
					<img class="stretch" alt="{{item.video.title.__text}}" ng-src="{{item.video.thumbnail_loc.__text}}">
					<span class="color-white scrollable__item__title--eliples" ng-bind-html="item.video.title.__text"></span>
				</a>		
			</li>
		</ul>
	</div>
</div>