<ul class="grid sub-nav no-pad bottom-space">
	<li class="sub-nav__item span-1-3"><a class="sub-nav__link c b" href="#/music/genres" ng-class="{'sub-nav__link--active' : activeSubNav == 'music'}">Music</a></li>
	<li class="sub-nav__item span-1-3"><a class="sub-nav__link c b" href="#/teaching" ng-class="{'sub-nav__link--active' : activeSubNav == 'teaching'}">Teaching</a></li>
	<li class="sub-nav__item span-1-3"><a class="sub-nav__link c b" href="#/talk" ng-class="{'sub-nav__link--active' : activeSubNav == 'talk'}">Talk</a></li>
</ul>