<div class="grid no-pad">
	<div class="span-1-1 lesson-header no-pad top-space bottom-space" style="background-image: url('{{currentLesson.partner_thumbnail}}');"></div>
	<div class="span-9-10">
		<h3 class="lesson__title color-white">{{currentLesson.title}}</h3>
	</div>
	<div class="span-1-10 r">
		<a href=""><img src="images/heart_icon.svg"></a>
	</div>
	<div class="span-1-1">
		<a href="" class="lesson__listen c"><img src="images/listen_icon.svg"> Listen</a>
	</div>
	<div class="span-1-2">
		<a href="" class="lesson__watch c">Watch</a>
	</div>
	<div class="span-1-2">
		<a href="" class="lesson__link c">Link</a>
	</div>
	<div class="span-1-1">
		<p class="large color-white">{{currentLesson.partner_description}}</p>
	</div>
</div>