<div class="span-1-1 c">
	<p class="color-white no-margin">
		<span class="large break-on-mobile">{{currentStation.genre.title}}</span>
		<apan class="color-white no-margin">{{currentStation.station.station_name}}</span>
	</p>
</div>

<div class="grid swiper">
	<div class="span-1-1 no-pad">
		<ul class="carousel-margin" rn-carousel rn-carousel-transition="hexagon"  rn-carousel-index="currentStation.$index" rn-carousel-buffered class="view-carousel">
			<li class="c" ng-repeat="station in currentStation.stations track by $index">
				<a>
					<img class="" alt="{{station.station_name}}" ng-src="{{station.station_image}}">
				</a>		
			</li>
		</ul>
	</div>
</div>